
<div class="container">
  <div class="row"><div class="col-md-12">
    <hr>
    <p>SMACD reject any form of discrimination and folows <a href="{{ 'docs/SMACD2022-ethics&conduct.pdf' | relative_url }}" target="_blank">
      IEEE ethical guidelines and policies in terms of non-discrimination and privacy.</a> </p>
     
  </div></div>
</div><!-- /.container -->

<footer class="clearfix"><div class="container" >
  <div class="row"><div class="col-md-12">  <h2 class="h2-center" >Institutional Sponsors and Organizers</h2> </div> </div>       

  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.it.pt" title="Instituto de Telecomunicações" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_it_sq.png' | relative_url }}" alt="Instituto de Telecomunicações"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.it.pt" target="_blank">Instituto de Telecomunicações</a></h5></div>
    </div> 
    <div class="col-md-6">    
      <div class="footer-sponsor">
        <a href="https://tecnico.ulisboa.pt" title="Técnico" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_ist_sq.png' | relative_url }}" alt="Técnico"/></a>
        <h5 class="footer-sponsor-title"><a href="https://tecnico.ulisboa.pt" target="_blank">Técnico</a></h5></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.imms.de" title="IMMS Institut für Mikroelektronik- und Mechatronik-Systeme GmbH" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_imms_sq.jpg' | relative_url }}" alt="IMMS Institut für Mikroelektronik- und Mechatronik-Systeme GmbH"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.imms.de" target="_blank">IMMS GmbH</a></h5></div>

  </div>
  <div class="col-md-6">
    <div class="footer-sponsor">
      <a href="http://imse-cnm.csic.es/" title="Instituto de Microelectrónica de Sevilla" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_imse.png' | relative_url }}" alt=" Instituto de Microelectrónica de Sevilla"/></a>
      <h5 class="footer-sponsor-title"><a href="http://imse-cnm.csic.es/" target="_blank">IMSE-CNM</a></h5></div>
  </div></div>
  </div>
  </footer>
  <!-- /END SPONSOR -->
  <!-- FOOTER -->
    <div class="container">
    <div class="row"><div class="col-md-12">
        <p class="pull-right">  
          Contacts: <a  href="mailto:info@smacd-conference.org">info@smacd-conference.org</a></p>
        <p>&copy; 2022, SMACD Organization | All Rights Reserved </p>
    </div></div>
  </div><!-- /.container -->
  
  
 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="https://smacd-conference.org/ie10-viewport-bug-workaround.js"></script>
  
 <!-- jssor slider scripts-->
 <!-- use jssor.js + jssor.slider.js instead for development -->
 <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
 
