

<div class="container">
  <hr>
  
  <div class="sponsors-section">
    <h1>Our Sponsors</h1>
    
    <div class="sponsor-category gold">
      <h5>Gold Sponsors</h5>
      <!-- <div class="sponsor">
        <img src="path/to/platinum-sponsor1.jpg" alt="Platinum Sponsor 1">
        <p>Company Name 1</p>
      </div>
      <div class="sponsor">
        <img src="path/to/platinum-sponsor2.jpg" alt="Platinum Sponsor 2">
        <p>Company Name 2</p>
      </div>
      <div class="sponsor">
        <img src="path/to/platinum-sponsor3.jpg" alt="Platinum Sponsor 3">
        <p>Company Name 3</p>
      </div> -->
    </div>

    <div class="sponsor-category silver">
      <h4>Silver Sponsors</h4>
      <!-- <div class="sponsor">
        <img src="path/to/gold-sponsor1.jpg" alt="Gold Sponsor 1">
        <p>Company Name 1</p>
      </div>
      <div class="sponsor">
        <img src="path/to/gold-sponsor2.jpg" alt="Gold Sponsor 2">
        <p>Company Name 2</p>
      </div>
      <div class="sponsor">
        <img src="path/to/gold-sponsor3.jpg" alt="Gold Sponsor 3">
        <p>Company Name 3</p>
      </div> -->
    </div>

    <div class="sponsor-category bronze">
      <h7>Bronze Sponsors</h7>
      <div class="sponsor">
        <a href="https://atekmidas.com/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/atekmidas.png' | relative_url }}" >
        </a>
      </div>
      <div class="sponsor">
        <a href="https://www.electraic.com/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/electraic.png' | relative_url }}">
        </a>
      </div>
      <div class="sponsor">
        <a href="https://tegraic.com/home" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/Tegra.png' | relative_url }}">
        </a>
      </div>
      <div class="sponsor">
        <a href="https://ankasys.com/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/ankasys.png' | relative_url }}">
        </a>
      </div>
    </div>

    <div class="sponsor-category technical">
      <h3>Technical Sponsors</h3>
      <div class="sponsor">
        <a href="https://www.ieee.org/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/ieee.png' | relative_url }}" >
        </a>
      </div>
      <div class="sponsor">
        <a href="https://ieee-cas.org/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/cas.png' | relative_url }}">
        </a>
      </div>
      <div class="sponsor">
        <a href="https://ieee-ceda.org/" target="_blank">
          <img src="{{ 'img/SMACD25/sponsors/ceda.png' | relative_url }}">
        </a>
      </div>


    </div>






  </div>


  <div class="row align-items-center">
    <div class="col-md-12 text-center" style="align-items: center;">
      <h1 class="organizers-header">Organizers</h>
    </div>
    <div class="col-md-6 text-center">
      <div class="logo-box">
        <a href="https://www.gtu.edu.tr/" target="_blank">
          <img src="{{ 'img/SMACD25/gtulogo.png' | relative_url }}" alt="Gtu" class="footer-logo">
        </a>

      </div>
    </div>

    <!-- Organizer 2 Logo in a Box -->
    <div class="col-md-6 text-center">
      <div class="logo-box">
        <a href="https://www.bilgi.edu.tr/tr/" target="_blank">
          <img src="{{ 'img/SMACD25/bilgilogo.png' | relative_url }}" alt="Bilgi" class="footer-logo">
        </a>
      </div>
    </div>
  
  </div>








  <div class="row"><div class="col-md-12">
    <hr>
    <p class="small">SMACD reject any form of discrimination and folows <a href="{{ 'docs/SMACD2023-ethics&conduct.pdf' | relative_url }}" target="_blank">
      IEEE ethical guidelines and policies in terms of non-discrimination and privacy.</a> </p>
     
  </div>
</div><!-- /.container -->

<!--footer class="clearfix"><div class="container" >

  <div class="row featurette"><div class="col-md-12">  <h2 class="center" >Technical Co-Sponsors</h2> </div> </div>

  <div class="row featurette">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.ieee.org" title="Institute of Electrical and Electronics Engineers" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_IEEE_sq.jpg" alt="Institute of Electrical and Electronics Engineers"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.ieee.org" target="_blank">Institute of Electrical and Electronics Engineers</a> </h5></div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row featurette">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://ieee-cas.org" title="The IEEE Circuits and Systems Society" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_CASS_sq.jpg" alt="The IEEE Circuits and Systems Society"/></a>
      <h5 class="footer-sponsor-title"><a href="https://ieee-cas.org" target="_blank">The IEEE Circuits and Systems Society</a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://ieee-ceda.org" title="The IEEE Council on Electronic Design Automation" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_CEDA_sq.jpg" alt="The IEEE Council on Electronic Design Automation"/></a>
      <h5 class="footer-sponsor-title"><a href="https://ieee-ceda.org" target="_blank">The IEEE Council on Electronic Design Automation</a> </h5></div>
    </div>
  </div>


  
  <div class="row"><div class="col-md-12">  <h2 class="center" >Platinum Sponsor</h2> </div> </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.cadence.com/" title="Cadence" target="_blank" >
      <img  class="footer-sponsor-logo" src="{{ 'img/cadence.png' | relative_url }}" alt="Cadence"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.cadence.com/" target="_blank"><big>Cadence</big></a> </h5></div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row"><div class="col-md-12">  <h2 class="center" >Gold Sponsors</h2> </div> </div>
  <div class="row">
      <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://teledynelecroy.com/" title="Teledyne LeCroy" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/TLec.png' | relative_url }}" alt="Teledyne LeCroy"/></a>
        <h5 class="footer-sponsor-title"><a href="https://teledynelecroy.com/" target="_blank"><big>Teledyne LeCroy</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="http://www.europractice.stfc.ac.uk" title="Europractice" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/Europractice-logo.png' | relative_url }}" alt="Europractice"/></a>
      <h5 class="footer-sponsor-title"><a href="http://www.europractice.stfc.ac.uk" target="_blank"><big>Europractice</big></a> </h5></div>
    </div>
   </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.optitelcab.com/" title="Optitelcab, Lda" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/Optitelcab_LOGOTIPO HR.png' | relative_url }}" alt="Optitelcab, Lda" /></a>
        <h5 class="footer-sponsor-title"><a href="https://www.optitelcab.com/" target="_blank"><big>Optitelcab, Lda</big></a> </h5></div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row"><div class="col-md-12">  <h2 class="center" >Silver Sponsors</h2> </div> </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.silicongate.com/" title="SiliconGate" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/SG_Logo.svg' | relative_url }}" alt="SiliconGate"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.silicongate.com/" target="_blank"><big>SiliconGate</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.synopsys.com/" title="Synopsys" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/synopsys-logo-color.svg' | relative_url }}" alt="Synopsys"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.synopsys.com/" target="_blank"><big>Synopsys</big></a> </h5></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor"><a href=" https://www.monolithicpower.com" title="Monolithic Power Systems" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/MPS-Logo-Tag-RGB for digital use.png' | relative_url }}" alt="Monolithic Power Systems"/></a>
        <h5 class="footer-sponsor-title"><a href=" https://www.monolithicpower.com" target="_blank"><big>Monolithic Power Systems</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://ams-osram.com/" title="ams OSRAM" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/AMS_OSRAM.png' | relative_url }}" alt="ams OSRAM"/></a>
        <h5 class="footer-sponsor-title"><a href="https://ams-osram.com" target="_blank"><big>ams OSRAM</big></a> </h5></div>
    </div>
  </div>

  <div class="row">
  
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.springer.com/" title="Springer" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'https://www.springer.com/public/images/springer-logo.svg'}}" alt="Springer"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.springer.com/" target="_blank"><big>Springer</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href=" https://www.mdpi.com/journal/micromachines" title="MDPI Micromachines" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/mdpi_partnership-01.png' | relative_url }}" alt="MDPI Micromachines"/></a>
        <h5 class="footer-sponsor-title"><a href=" https://www.mdpi.com/journal/micromachines" target="_blank"><big>MDPI </big></a> </h5></div>
    </div>

  </div>



 
 
  <div class="row"><div class="col-md-12">  <h2 class="center" >Institutional Sponsors and Organizers</h2> </div> </div>       

  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.it.pt" title="Instituto de Telecomunicações" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_it_sq.png' | relative_url }}" alt="Instituto de Telecomunicações"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.it.pt" target="_blank">Instituto de Telecomunicações</a></h5></div>
    </div> 
    <div class="col-md-6">    
      <div class="footer-sponsor">
        <a href="https://tecnico.ulisboa.pt" title="Técnico" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_ist_sq.png' | relative_url }}" alt="Técnico"/></a>
        <h5 class="footer-sponsor-title"><a href="https://tecnico.ulisboa.pt" target="_blank">Técnico</a></h5></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="footer-sponsor">
      <a href="https://www.imms.de" title="IMMS Institut für Mikroelektronik- und Mechatronik-Systeme GmbH" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_imms_sq.jpg' | relative_url }}" alt="IMMS Institut für Mikroelektronik- und Mechatronik-Systeme GmbH"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.imms.de" target="_blank">IMMS GmbH</a></h5></div>

  </div>
  <div class="col-md-4">
    <div class="footer-sponsor">
      <a href="http://imse-cnm.csic.es/" title="Instituto de Microelectrónica de Sevilla" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_imse.png' | relative_url }}" alt=" Instituto de Microelectrónica de Sevilla"/></a>
      <h5 class="footer-sponsor-title"><a href="http://imse-cnm.csic.es/" target="_blank">IMSE-CNM</a></h5></div>
  </div>
  <div class="col-md-4">
    <div class="footer-sponsor">
      <a href="http://www.visitmadeira.com" title="Madeira Islands" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo_madeira.png' | relative_url }}" alt=" Madeira Tourism"/></a>
      <h5 class="footer-sponsor-title"><a href="http://www.visitmadeira.com" target="_blank">Madeira Islands</a></h5></div>
  </div>
  </div>
  </div>

  </div>
  </footer-->
  <!-- /END SPONSOR -->
  <!-- FOOTER -->
    <div class="container">
    <div class="row"><div class="col-md-12">
        <p class="pull-right">  
          Contacts: <a  href="mailto:info@smacd-conference.org">info@smacd-conference.org</a></p>
        <p>&copy; 2025, SMACD Organization | All Rights Reserved </p>
    </div></div>
  </div><!-- /.container -->
  
  
 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="https://smacd-conference.org/ie10-viewport-bug-workaround.js"></script>
  
 <!-- jssor slider scripts-->
 <!-- use jssor.js + jssor.slider.js instead for development -->
 <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
 
