<footer class="clearfix"><div class="container" >
  
    <div class="row featurette"><div class="col-md-12">  <h2 class="featurette-heading" style="text-align: center;">Sponsors</h2> </div> </div> 
    <div class="row featurette">
      <div class="col-md-6">
        <div class="footer-sponsor"><a href="https://www.cadence.com" title="Cadence" target="_blank" >
        <img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/cadence.png" alt="Cadence"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.cadence.com" target="_blank">Cadence</a> </h5></div>
      </div>
      <div class="col-md-6">
        <div class="footer-sponsor"><a href="https://www.xfab.com" title="X-FAB Silicon Foundries" target="_blank" >
        <img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_xfab_sq.png" alt="X-FAB Silicon Foundries"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.xfab.com" target="_blank">X-FAB Silicon Foundries</a> </h5></div>
      </div>
    </div> 
    <div class="row featurette">
      <div class="col-md-6">
        <div class="footer-sponsor"><a href="http://www.europractice.stfc.ac.uk" title="Europractice" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/Europractice-logo.png" alt="Europractice"/></a>
        <h5 class="footer-sponsor-title"><a href="http://www.europractice.stfc.ac.uk" target="_blank">Europractice</a> </h5></div>
      </div>
      <div class="col-md-6">
        <div class="footer-sponsor"><a href="https://www.infineon.com/" title="Infineon" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_infineon_sq.png" alt="Infineon"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.infineon.com/" target="_blank">Infineon</a> </h5></div>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://www.nxp.com" title="NXP" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/NXP_logo.png" alt="NXP"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.nxp.com" target="_blank">NXP</a> </h5></div>
      </div>
      <div class="col-md-3"></div>
    </div>
  
    <div class="row featurette"><div class="col-md-12">  <h2 class="featurette-heading" style="text-align: center;">Technical Sponsors</h2> </div> </div>
    <div class="row featurette">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://www.ieee.org" title="Institute of Electrical and Electronics Engineers" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_IEEE_sq.jpg" alt="Institute of Electrical and Electronics Engineers"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.ieee.org" target="_blank">Institute of Electrical and Electronics Engineers</a> </h5></div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row featurette">
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://ieee-cas.org" title="The IEEE Circuits and Systems Society" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_CASS_sq.jpg" alt="The IEEE Circuits and Systems Society"/></a>
        <h5 class="footer-sponsor-title"><a href="https://ieee-cas.org" target="_blank">The IEEE Circuits and Systems Society</a> </h5></div>
      </div>
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://ieee-ceda.org" title="The IEEE Council on Electronic Design Automation" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_CEDA_sq.jpg" alt="The IEEE Council on Electronic Design Automation"/></a>
        <h5 class="footer-sponsor-title"><a href="https://ieee-ceda.org" target="_blank">The IEEE Council on Electronic Design Automation</a> </h5></div>
      </div>
    </div>
    <div class="row featurette"><div class="col-md-12">  <h2 class="featurette-heading" style="text-align: center;">Institutional Sponsors and Organizers</h2> </div> </div>
    <div class="row featurette">
      <div class="col-md-6">
         <div class="footer-sponsor">
        <a href="https://www.vde.com/en/events/event-detailpage?id=17916&type=vde%7Cvdb" title="VDE_ITG" target="_blank"><img class="footer-sponsor-logo" src="https://smacd-conference.org/img/logo_VDE_sq.jpg" alt="VDE-ITG"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.vde.com/en/events/event-detailpage?id=17916&type=vde%7Cvdb" target="_blank">VDE -ITG</a></h5></div>
        
        <div class="footer-sponsor">
        <a href="https://www.imms.de" title="IMMS GmbH" target="_blank"><img class="footer-sponsor-logo" src="https://smacd-conference.org/img/logo_imms_sq.jpg" alt="IMMS Institut für Mikroelektronik- und Mechatronik-Systeme GmbH"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.imms.de" target="_blank">IMMS Institut für Mikroelektronik- und Mechatronik-Systeme gemeinnützige GmbH (IMMS GmbH)</a></h5></div>
      </div> 
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://www.tu-ilmenau.de/" title="Technische Universität Ilmenau" target="_blank"><img class="footer-sponsor-logo" src="https://smacd-conference.org/img/logo_TUI_sq.jpg" alt="Technische Universität Ilmenau"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.tu-ilmenau.de" target="_blank">Technische Universität Ilmenau</a> </h5></div>
        <div class="footer-sponsor">
        <a href="https://www.erfurt-tourismus.de" title="Erfurt Tourismus und Marketing GmbH" target="_blank" ><img  class="footer-sponsor-logo"  src="https://smacd-conference.org/img/logo_erfurt_sq.jpg" alt="Erfurt Tourismus und Marketing GmbH"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.erfurt-tourismus.de" target="_blank">Erfurt Tourismus und Marketing GmbH</a> </h5></div>
      </div>
    </div>
    <div class="row"><div class="col-md-6"></div><div class="col-md-6"></div></div>
  </div>
  </footer>
  <!-- /END THE FEATURETTES -->
  <!-- FOOTER -->
  <footer class="clearfix" style="background-color:#f7f7f7;"> 
  <div class="container" style="margin-top: 10px;" >
    <div class="row"><div class="col-md-12">
        <p class="pull-right">  
          <a href="imprint">Imprint/Impressum</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   
          <a href="privacy">Privacy Statement</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   
          <a href="{{ "#" | relative_url }}">Top</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;    
          Contacts: <a  href="mailto:info@smacd-conference.org">info@smacd-conference.org</a></p>
        <p>&copy; Instituto de Telecomunicações 2021. </p>
    </div></div>
  </div><!-- /.container -->
  </footer>
 
  
 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="https://smacd-conference.org/ie10-viewport-bug-workaround.js"></script>
  
 <!-- jssor slider scripts-->
 <!-- use jssor.js + jssor.slider.js instead for development -->
 <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
 
