
<div class="container">
  <div class="row"><div class="col-md-12">
    <hr>
    <p>SMACD 2022 rejects any form of discrimination and folows <a href="{{ 'docs/SMACD2022-ethics&conduct.pdf' | relative_url }}" target="_blank">
      IEEE ethical guidelines and policies in terms of non-discrimination and privacy.</a> </p>
     
  </div></div>
</div><!-- /.container -->

<footer class="clearfix"><div class="container" >
  <div class="row"><div class="col-md-12">  <h2 class="h2-center" >Platinum Sponsors</h2> </div> </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.power.com" title="Power Integrations" target="_blank" ><img  class="footer-sponsor-logo"  src="{{ 'img/PI.png' | relative_url }}" alt="Power Integrations"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.power.com" target="_blank"><big> Power Integrations</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.inventvm.com" title="INVENTVM" target="_blank" ><img  class="footer-sponsor-logo"  src="{{ 'img/Logo_ufficiale_gradiente.svg' | relative_url }}" alt="INVENTVM"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.inventvm.com" target="_blank"><big> INVENTVM</big></a> </h5></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.infineon.com/" title="Infineon" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/logo_infineon_sq.png' | relative_url }}" alt="Infineon"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.infineon.com/" target="_blank">Infineon</a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.synopsys.com/" title="Synopsys" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/synopsys-logo-color.svg' | relative_url }}" alt="Synopsys"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.synopsys.com/" target="_blank">Synopsys</a> </h5></div>
    </div>
  </div>
  <div class="row"><div class="col-md-12">  <h2 class="h2-center">Gold Sponsors</h2> </div> </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="https://www.cadence.com/" title="Cadence" target="_blank" >
      <img  class="footer-sponsor-logo" src="{{ 'img/cadence.png' | relative_url }}" alt="Cadence"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.cadence.com/" target="_blank"><big>Cadence</big></a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor"><a href="http://www.europractice.stfc.ac.uk" title="Europractice" target="_blank" >
        <img  class="footer-sponsor-logo"  src="{{ 'img/Europractice-logo.png' | relative_url }}" alt="Europractice"/></a>
      <h5 class="footer-sponsor-title"><a href="http://www.europractice.stfc.ac.uk" target="_blank">Europractice</a> </h5></div>
    </div>
  </div>
  <div class="row"><div class="col-md-12">  <h2 class="h2-center">Silver Sponsors</h2> </div> </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.tdk.com/" title="TDK" target="_blank" ><img  class="footer-sponsor-logo" style="background-color: rgb(0,70,173);"  src="{{ 'img/TDK.png' | relative_url }}" alt="TDK"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.tdk.com/" target="_blank"><big>TDK Corporation</big></a> </h5></div>
    </div>
    <div class="col-md-3"></div>
  </div>


  <div class="row"><div class="col-md-12">  <h2 class="h2-center" >Technical Sponsors</h2> </div> </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://www.ieee.org" title="Institute of Electrical and Electronics Engineers" target="_blank" ><img  class="footer-sponsor-logo"  src="{{ 'img/logo_IEEE_sq.jpg' | relative_url }}" alt="Institute of Electrical and Electronics Engineers"/></a>
      <h5 class="footer-sponsor-title"><a href="https://www.ieee.org" target="_blank">Institute of Electrical and Electronics Engineers</a> </h5></div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://ieee-cas.org" title="The IEEE Circuits and Systems Society" target="_blank" ><img  class="footer-sponsor-logo"  src="{{ 'img/logo_CASS_sq.jpg' | relative_url }}" alt="The IEEE Circuits and Systems Society"/></a>
      <h5 class="footer-sponsor-title"><a href="https://ieee-cas.org" target="_blank">The IEEE Circuits and Systems Society</a> </h5></div>
    </div>
    <div class="col-md-6">
      <div class="footer-sponsor">
      <a href="https://ieee-ceda.org" title="The IEEE Council on Electronic Design Automation" target="_blank" ><img  class="footer-sponsor-logo"  src="{{ 'img/logo_CEDA_sq.jpg' | relative_url }}" alt="The IEEE Council on Electronic Design Automation"/></a>
      <h5 class="footer-sponsor-title"><a href="https://ieee-ceda.org" target="_blank">The IEEE Council on Electronic Design Automation</a> </h5></div>
    </div>
  </div>
    <div class="row"><div class="col-md-12">  <h2 class="h2-center" >Institutional Sponsors and Organizers</h2> </div> </div>
    <div class="row">
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://www.it.pt" title="Instituto de Telecomunicações" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo-IT.png' | relative_url }}" alt="Instituto de Telecomunicações"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.it.pt" target="_blank">Instituto de Telecomunicações</a></h5></div>
      </div> 
      <div class="col-md-6">    
        <div class="footer-sponsor">
          <a href="https://web-en.unipv.it" title="Università di Pavia" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo-UPavia.png' | relative_url }}" alt="Università di Pavia"/></a>
          <h5 class="footer-sponsor-title"><a href="https://web-en.unipv.it" target="_blank">Università di Pavia</a></h5></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="footer-sponsor">
        <a href="https://www.dinf.uevora.pt" title="Universidade de Évora" target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo-UE.png' | relative_url }}" alt="Universidade de Évora"/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.dinf.uevora.pt" target="_blank">Universidade de Évora</a></h5></div>

    </div>
    <div class="col-md-6">
      <div class="footer-sponsor">
        <a href="https://www.pragmacongressi.it/" title="Pragma Congressi, S.r.l." target="_blank"><img class="footer-sponsor-logo" src="{{ 'img/logo-pragma.png' | relative_url }}" alt="Pragma Congressi, S.r.l."/></a>
        <h5 class="footer-sponsor-title"><a href="https://www.pragmacongressi.it" target="_blank">Pragma Congressi</a></h5></div>
        


    </div></div>
  </div>
  </footer>
  <!-- /END THES -->
  <!-- FOOTER -->
    <div class="container">
    <div class="row"><div class="col-md-12">
        <p class="pull-right">  
          Contacts: <a  href="mailto:info@smacd-conference.org">info@smacd-conference.org</a></p>
        <p>&copy; 2021, IT - Instituto de Telecomunicações | All Rights Reserved </p>
    </div></div>
  </div><!-- /.container -->
  
  
 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="https://smacd-conference.org/ie10-viewport-bug-workaround.js"></script>
  
 <!-- jssor slider scripts-->
 <!-- use jssor.js + jssor.slider.js instead for development -->
 <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
 
