<!-- NAVBAR  =============================================== -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand" href="{{ "/" | relative_url }}">HOME</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="{{ 'call-for-papers' | relative_url }}">Call for Papers</a></li>
        <li><a href="{{ 'call-for-competition' | relative_url }}"">EDA Competition</a></li>
        <li><a href="{{ 'call-for-ic-design-contest' | relative_url }}"">IC Design Contest</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Conference<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ 'call-for-papers' | relative_url }}">Call for Papers</a></li>
            <li><a href="{{ 'special-sessions' | relative_url }}">Tutorial & Special Sessions</a></li>
            <li><a href="{{ 'paper-submission' | relative_url }}">Paper Submission</a></li>
            
            <li><a href="{{ 'committees' | relative_url }}">Committees</a></li>
            <li><a href="{{ 'previous-editions' | relative_url }}">Previous Editions</a></li>
            <li><a href="{{ 'hall-of-fame' | relative_url }}"">Hall of Fame</a></li>
          </ul>
        </li>

        <li><a href="{{ 'sponsorship' | relative_url }}"">Sponsorship</a></li>
        
      </ul>
    </div>
  </div>
</nav>


<div class="container" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ 'img/banner6.png' | relative_url }}" alt="Funchal, Madeira Island">
      </div>

      <div class="item">
        <img src="{{ 'img/banner5.png' | relative_url }}" alt="Madeira Island">
      </div>
        
      <div class="item">
        <img src="{{ 'img/banner8.png' | relative_url }}" alt="Madeira Island">
      </div>



      <div class="carousel-caption">
        <h1> <b>SMACD 2023</b></h1>
        <p class="caption-date">  3<sup>rd</sup> - 5<sup>th</sup> of July 2023, Funchal - Madeira Island, Portugal
      </div>

      <div class="btn-box">
        <div class = "btn-group " > 
        <a href="{{ 'content/SMACD23_FinalCFP.pdf' | relative_url }}" target="_blank" class="btn btn-block btn-success btn-1" >Call for Papers</a>
        <a href="{{ 'content/SMACD23_CFC.pdf' | relative_url }}" target="_blank" class="btn btn-block btn-success btn-1" >Call for EDA Competition</a>
        <a href="{{ 'content/SMACD23_CFIC.pdf' | relative_url }}" target="_blank" class="btn btn-block btn-success btn-1" >Call for IC Design Contest</a>
        <a href="{{ 'special-sessions' | relative_url }}" target="_blank" class="btn btn-block btn-success btn-1" >Tutorials and Special Sessions</a>
        <a href="{{ 'paper-submission' | relative_url }}" target="_blank" class="btn btn-block btn-warning btn-1" >Paper Submission</a>
        
      </div> 
    </div> 


    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="row hclass"><div class="col-md-12">
    
    <h4 class="center"> <del><small>Paper submission deadline extended to Feb. 19<sup>th</sup>.</small></del> 
      <br/><span class="red">Final submission deadline extension to Feb. 26<sup>th</sup>.</span> </h4>

  </div></div> 

</div>	
