---
---

$base-color: #05A;
$base-dark-color:  #038;
$base-light: rgba($base-color, 0.1);
$alternative-color: #894;

body { font-family: "Poppins", sans-serif; color: #222222; text-align: justify; font-size: 16px; padding-top: 50px; }

footer {background-color:#f7f7f7;border-top: 1px solid #ddd;}
.header { background: #05A;}

a, a:link, a:focus, a:hover {color: $base-color; font-weight: 500;	}

.base-color {color: $base-color}
.alternative-color {color:$alternative-color}



.hof { font-style:italic; font-size:20px; color:#a1d1e7;  }
.hof div {display: inline-block; vertical-align:top; }
.hof-head {width: 8%; max-width: 120px; min-width: 100px;  text-align:right; padding-right:8px;}
.hof-head-small {font-size:16px;}
.hof-content {width: 85%; min-width: 430px; }

.hof p { padding-left:8px; font-style:normal; color: #777777; font-size: 14px; border-left: 1px solid #bfe1f1; }
.hof p em { display:block;font-size: 17px; }



.center { text-align: center;}
.left { text-align: left;}

.hclass{ letter-spacing:1.2pt; background-color: #e8f6fc;   color:$base-color; padding: 10px;  margin-top:10px; font-size: 18px; border: 1px solid #FFF; }
.hclass>.lead { letter-spacing:1.5pt; background-color: $base-light; border-color: $base-light;  color:$base-dark-color; font-size: 22px; text-transform: uppercase; padding-left: 15px; padding-top: 1px;	padding-bottom: 1px; }
.hclass>.lead a, .hclass>.lead  a:link, .hclass>.lead  a:focus,  .hclass>.lead  a:hover {  color:$base-dark-color;	}
.hclass>.lead>a>.glyphicon {font-size: 16px;color:$alternative-color}

.hclass p a, .hclass p a:link, .hclass p a:focus,  .hclass p a:hover {  color:$alternative-color;	}


.hclassred{ letter-spacing:1.2pt; background-color: #f5dfdf;   color:#aa1111; text-align:center; padding: 10px;  margin-top:10px; font-size: 18px; border: 1px solid #FFF; }
.hclassred>.lead {     margin-top: 20px;letter-spacing:1.5pt; background-color: #e9c4c4; border-color: #aa1111;  color:#AA1111;; font-size: 26px; text-transform: uppercase; padding-left: 15px; padding-top: 1px;	padding-bottom: 1px; }
.hclassred>.lead a, .hclassred>.lead  a:link, .hclassred>.lead  a:focus,.hclassred>.lead  a:hover {  color:#AA1111;	}
.hclassred>.lead>a>.glyphicon {font-size: 16px;color:#AA1111}




.hclass.last {margin-bottom:10px;}

.intro {font-size: 18px;line-height: 1.4;}
.dl-horizontal dt {width: 130px;font-size: 16px;  line-height: 1.6; }
.dl-horizontal dd {margin-left: 140px;font-size: 16px; line-height: 1.6;}

.commitee dd{ margin-left: 10px; }
.commitee dt{ letter-spacing:1.1pt; margin-top: 8px;}
.steering dd{ margin-top: 2px; }
.patronage li{ margin-bottom: 12px;  }
.carousel-caption { padding: 0px;bottom: 0px;width: 100%;left: 0%;text-align: center; }
.carousel-caption-logo{background-color: rgba(255,255,255,0.0);max-width: 500px;padding-right: 2px;padding-left: 0px;}
img.footer-sponsor-logo {display: inline-block;border: 1px solid #eaeaea;margin-right: 5px;position: absolute;background: #fff;padding: 10px;top: -30px;left: -10px;width: 140px;height: 140px;z-index: 100;border-radius: 50%;box-shadow: 4px 4px 4px rgba(0,0,0,0.05);}
.footer-sponsor {box-sizing: border-box;background: #fff;vertical-align: middle;border: 1px solid #eaeaea;padding-right: 15px;margin: 45px 0;min-height: 80px;position: relative;box-shadow: 4px 4px 4px rgba(0,0,0,0.05);border-radius: 45px;}
h5.footer-sponsor-title { padding: 0 0 0 135px; margin: 27px 45px 15px; text-align: center; font-size: 20px; display: block; font-weight: 500; line-height: 1.1; color: inherit;  }
div.contact { text-align: left; }
.map {max-width:500px;width:100%;height:450px;}
 
h2 { letter-spacing:1.1pt; background-color: $base-color; border-color: $base-color;  color:#fff; font-size: 22px; text-transform: uppercase; padding-left: 15px; padding-top: 1px;	padding-bottom: 1px; }
h2 .glyphicon {font-size: 16px;}
h2 a, h2 a:link, h2 a:focus,  h2 a:hover {color: #fff;	}
h3 { letter-spacing:0pt; }


/*btn Start*/
.btn-box {text-align: left; max-width: 600px;  padding-top: 60px; }

/* nav styles */
.navbar-inverse, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {background: #fff; letter-spacing:2pt; border-color: #fff;  color:$base-dark-color;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse  .navbar-nav>.open>a:hover,.navbar-inverse  .navbar-nav>.open>a:focus  {background:$base-light; letter-spacing:2pt; border-color: #fff;  color:$base-dark-color;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus { background:$base-light; color: $base-dark-color;}
.navbar-inverse .dropdown-menu>li>a {color: $base-dark-color; 	font-size: 16px;}
.navbar-inverse .dropdown-menu>li>a:hover,	.dropdown-menu>li>a:focus { background: $base-light; }
.navbar-inverse .navbar-toggle{  border-color: $base-dark-color;  background-color: $base-dark-color;}
.navbar-inverse .navbar-toggle:hover{  background-color: $base-dark-color;}
@media (max-width: 1980px) {
.navbar-inverse, .navbar-inverse .navbar-nav>li>a { font-size: 22px;}	
.navbar-inverse .navbar-brand {font-size: 32px;}	
}
@media (max-width: 1360px) {
.navbar-inverse, .navbar-inverse .navbar-nav>li>a { font-size: 18px;}	
.navbar-inverse .navbar-brand {font-size: 22px;}	
.navbar-inverse .dropdown-menu>li>a {font-size: 16px;}
}

@media (max-width: 1200px) {
.btn-box {text-align: left; max-width: 600px;  padding: 10px; }
}
@media (min-width: 768px) and (max-width: 992px) {
.navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0;  -webkit-box-shadow: none;box-shadow: none; }
.navbar-nav .open .dropdown-menu > li > a { line-height: 18px; color: $base-dark-color;}
.navbar-nav .open .dropdown-menu > li > a,.navbar-nav .open .dropdown-menu .dropdown-header {padding: 5px 15px 5px 25px; color: $base-dark-color;}
.dropdown-menu > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: $base-dark-color;  white-space: nowrap;}
.navbar-header { float: none; }
.navbar-toggle { display: block;}
.navbar-collapse {  border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-collapse.collapse { display: none!important; }
.navbar-nav { float: none!important;/*margin: 7.5px -15px;*/ margin: 7.5px 50px 7.5px -15px  }
.navbar-nav>li { float: none; }
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; color: #333; }
.navbar-text { float: none; margin: 15px 0; }
/* since 3.1.0 */
.navbar-collapse.collapse.in { display: block!important; }
.collapsing { overflow: hidden!important;}
}
@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: $base-dark-color;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open	.dropdown-menu>li>a:focus { color: $base-dark-color; background: $base-light;; }
.dl-horizontal dd {margin-left:0px;}
}

@media (max-width: 566px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: $base-dark-color;}
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open	.dropdown-menu>li>a:focus { color: $base-dark-color; background: $base-light;; }
    .dl-horizontal dd {margin-left:0px;}
    .carousel-caption-logo{background-color: rgba(255,255,255,0.0);max-width: 300px;padding-right: 2px;padding-left: 0px;}

    .hof-head {text-align:left; padding-left:10px; width: 100%; max-width: 100%;}
    .hof-content {width: 100%; min-width: 430px; }
    }

@media all and (max-width: 768px ){
.navbar-wrapper { position: relative;top: 0px; }
}
  

.btn-1 {font-size: 20px; letter-spacing:1.2pt; text-transform: uppercase ; height: 76px; }
.btn-success {
color: #fff;
background-color: #8ba70a;
border-color: #fff
}

.btn-success.focus,
.btn-success:focus {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success:hover {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
color: #fff;
background-color: #398439;
border-color: #255625
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
background-image: none
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
background-color: #8ba70a;
border-color: #fff
}

.btn-success .badge {
color: #8ba70a;
background-color: #fff
}
/*btn Ende*/