---
---

$base-color: #88BBCC;
$base-dark-color:  #338899;
$base-light: rgba($base-color, 0.1);
$base-ulight: rgba($base-color, 0.05);
$alt-color: #573;
$alt-light: rgba($alt-color, 0.7);

body { font-family: "Poppins", sans-serif; color: #222222; text-align: justify; font-size: 18px; padding-top: 50px; }

footer {background-color:#f7f7f7;border-top: 1px solid #ddd;}
.header { background: #05A;}

.row-centered { margin-top: 20px;}


.carousel-control.left, .carousel-control.right {
	background: none !important;
	filter: none !important; progid: none !important;
	outline: 0;
   }
  .carousel .carousel-control {
	visibility: hidden;
  }
  .carousel:hover .carousel-control {
	visibility: visible;
  }

.carousel-caption { padding: 15px; bottom: 0px; left: 0%; right: auto;text-align: center;     background-color: rgba(0,0,0,0.50);
    margin-bottom: 20px;margin-left: 20px;}

/*btn Start*/
.btn-box {
	position: absolute;
	padding: 15px; bottom: 0px; left: 60%; right: auto;text-align: center;   
    margin-bottom: 20px;margin-left: 20px; margin-right: 20px;
	max-width: 350px;  padding-top: 60px; }


.carousel-caption p {font-size: 18px; margin: 0; line-height: 1.1; color: #fff; text-shadow: 0 1px 1px rgba(#000, 0.4);  text-align: center; }
.carousel-caption h1 { font-size: 80px; margin: 0; line-height: 1; text-align: center; }

.carousel-caption-logo{ background-color:#fff; max-width: 500px;padding-right: 2px;padding-left: 0px;}

a, a:link, a:focus, a:hover {color: $base-dark-color; font-weight: 500;	}

.bc {color: $base-dark-color}
.altc {color:$alt-color}



.hof { font-style:italic; font-size:20px; color:#a1d1e7;  }
.hof div {display: inline-block; vertical-align:top; }
.hof-head {width: 8%; max-width: 120px; min-width: 100px;  text-align:right; padding-right:8px;}
.hof-head-long {width: 20%; max-width: 320px; min-width: 300px;  text-align:right; padding-right:8px;}
.hof-head-small {font-size:16px;}
.hof-content {width: 85%; min-width: 430px; }

.hof p { padding-left:8px; font-style:normal; color: #777777; font-size: 14px; border-left: 1px solid #bfe1f1; }
.hof p em { display:block;font-size: 17px; }

.pt_plenary  {
	letter-spacing:1.1pt;
	background-color: #FFF; border-color: #FFF;  color:#C00000;
	 font-size: 24px;
	 text-transform: uppercase;
	padding-left: 15px; padding-top: 10px; padding-bottom: 1px;
}
.pt_plenary-title  {
	letter-spacing:1.1pt;
	background-color: #FFF; border-color: #FFF; color:#C00000;
	 font-size: 22px;
	 text-transform: uppercase;
}
.pt_plenary-presenter {
	letter-spacing:1.1pt;
	background-color: #FFF; border-color: #FFF; color:#C00000;
	 font-size: 16px;
	 text-transform: uppercase;
}
.pt_bio {
	 font-size: 10pt;
}

.center { text-align: center;}
.left { text-align: left;}

.hclass{ letter-spacing:1.2pt; background-color: #e8f6fc;   color:$base-dark-color; padding: 10px;  margin-top:10px; font-size: 18px; border: 1px solid #FFF; }
.hclass>.lead { letter-spacing:1.5pt; background-color: $base-light; border-color: $base-light;  color:$base-dark-color; font-size: 22px; text-transform: uppercase; padding-left: 15px; padding-top: 1px;	padding-bottom: 1px; }
.hclass>.lead a, .hclass>.lead  a:link, .hclass>.lead  a:focus,  .hclass>.lead  a:hover {  color:$base-dark-color;	}
.hclass>.lead>a>.glyphicon {font-size: 16px;color:$alt-color}

.hclass p a, .hclass p a:link, .hclass p a:focus,  .hclass p a:hover {  color:$alt-color;	}


.hclassred{ letter-spacing:1.2pt; background-color: #f5dfdf;   color:#aa1111; text-align:center; padding: 10px;  margin-top:10px; font-size: 18px; border: 1px solid #FFF; }
.hclassred>.lead {     margin-top: 20px;letter-spacing:1.5pt; background-color: #e9c4c4; border-color: #aa1111;  color:#AA1111;; font-size: 26px; text-transform: uppercase; padding-left: 15px; padding-top: 1px;	padding-bottom: 1px; }
.hclassred>.lead a, .hclassred>.lead  a:link, .hclassred>.lead  a:focus,.hclassred>.lead  a:hover {  color:#AA1111;	}
.hclassred>.lead>a>.glyphicon {font-size: 16px;color:#AA1111}




.hclass.last {margin-bottom:10px;}

.intro {margin-top: 20px; line-height: 1.6;}
.dl-horizontal dt {width: 190px;  line-height: 1.6; }
.dl-horizontal dd {margin-left: 200px; line-height: 1.6;}

.commitee dd{ font-size: 18px; margin-left: 10px; margin-top: 14px; line-height: 1}
.commitee dt{ font-size: 18px; letter-spacing:1.1pt; margin-top: 14px; line-height: 1.2}
.organizing dd{ font-size: 18px; margin-top: 10px; margin-left: 25px; line-height: 1.1}
.patronage li{ margin-bottom: 12px;  }
img.footer-sponsor-logo {display: inline-block;border: 1px solid #eaeaea;margin-right: 5px;position: absolute;background: #fff;padding: 10px;top: -40px;left: -10px;width: 160px;height: 160px;z-index: 100;border-radius: 50%;box-shadow: 4px 4px 4px rgba(0,0,0,0.05);}
img.footer-sponsor-logo-single {display: inline-block;border: 1px solid #eaeaea;margin: 45px;background: #fff;padding: 10px; width: 200px;height: 200px;z-index: 100;border-radius: 50%;box-shadow: 4px 4px 4px rgba(0,0,0,0.05);}

.footer-sponsor {box-sizing: border-box;background: #fff;vertical-align: middle;border: 1px solid #eaeaea;padding-right: 15px;margin: 45px 0;min-height: 80px;position: relative;box-shadow: 4px 4px 4px rgba(0,0,0,0.05);border-radius: 45px;}
h5.footer-sponsor-title { padding: 0 0 0 135px; margin: 27px 45px 15px; text-align: center; font-size: 18px; display: block; font-weight: 600; line-height: 1.1; color: inherit;  }
div.contact { text-align: left; }
.map {max-width:500px;width:100%;height:450px;}
 
h2 { letter-spacing:1.1pt; background-color: $base-color; border-color: $base-color;  color:#fff; font-size: 24px; text-transform: uppercase; padding-left: 15px; padding-top: 12px;	padding-bottom: 12px; text-align: left;}
h2 .glyphicon {font-size: 16px;}
h2 a, h2 a:link, h2 a:focus,  h2 a:hover {color: #fff;}

.no-caps {text-transform: none; }



h3 { letter-spacing:1pt; background-color: $alt-light; border-color: $alt-light;  color:#fff; font-weight: 500; font-size: 22px; text-transform: uppercase; padding-left: 15px; padding-top: 8px;	padding-bottom: 8px; text-align: left;}


h4 { letter-spacing:0pt; background-color: #fff; color:$base-dark-color; font-weight:700; font-size: 22px; padding-top: 6px;	padding-bottom: 6px; padding-left: 18px;}





/* nav styles */
nav {
    margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-inverse, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {background: #fff; letter-spacing:2pt; border-color: #fff;  color:$base-dark-color;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse  .navbar-nav>.open>a:hover,.navbar-inverse  .navbar-nav>.open>a:focus  {background:$base-light; letter-spacing:2pt; border-color: #fff;  color:$base-dark-color;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus { background:$base-light; color: $base-dark-color;}
.navbar-inverse .dropdown-menu>li>a {color: $base-dark-color; 	font-size: 20px;}
.navbar-inverse .dropdown-menu>li>a:hover,	.dropdown-menu>li>a:focus { background: $base-light; }
.navbar-inverse .navbar-toggle{  border-color: $base-dark-color;  background-color: $base-dark-color;}
.navbar-inverse .navbar-toggle:hover{  background-color: $base-dark-color;}

.navbar-inverse, .navbar-inverse .navbar-nav>li>a { font-size: 28px;}	
.navbar-inverse .navbar-brand {font-size: 34px;}	


.btn-1 {font-size: 15px; letter-spacing:1.2pt; text-transform: uppercase }

.btn-warning {
	border-color: #fff
	}

.btn-success, .btn-success:visited, .btn-success:link {
color: #fff;
background-color: #8ba70a;
border-color: #fff
}

.btn-success.focus,
.btn-success:focus {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success:hover {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
color: #fff;
background-color: #637a0f;
border-color: #fff
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
color: #fff;
background-color: #398439;
border-color: #255625
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
background-image: none
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
background-color: #8ba70a;
border-color: #fff
}

.btn-success .badge {
color: #8ba70a;
background-color: #fff
}
/*btn Ende*/




	.navbar-inverse, .navbar-inverse .navbar-nav>li>a { font-size: 20px;}	
	.navbar-inverse .navbar-brand {font-size: 22px;}	
	.navbar-inverse .dropdown-menu>li>a {font-size: 18px;}

	
	
	@media (min-width: 768px) and (max-width: 1200px) {
	.navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0;  -webkit-box-shadow: none;box-shadow: none; }
	.navbar-nav .open .dropdown-menu > li > a { line-height: 18px; color: $base-dark-color;}
	.navbar-nav .open .dropdown-menu > li > a,.navbar-nav .open .dropdown-menu .dropdown-header {padding: 5px 15px 5px 25px; color: $base-dark-color;}
	.dropdown-menu > li > a {display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857143; color: $base-dark-color;  white-space: nowrap;}
	.navbar-header { float: none; }
	.navbar-toggle { display: block;}
	.navbar-collapse {  border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
	.navbar-collapse.collapse { display: none!important; }
	.navbar-nav { float: none!important;/*margin: 7.5px -15px;*/ margin: 7.5px 50px 7.5px -15px  }
	.navbar-nav>li { float: none; }
	.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; color: #333; }
	.navbar-text { float: none; margin: 15px 0; }
	/* since 3.1.0 */
	.navbar-collapse.collapse.in { display: block!important; }
	.collapsing { overflow: hidden!important;}
	
	
	/*btn Start*/
	 .btn-1 {visibility:hidden;}
	 .carousel-caption { padding: 2px; bottom: 0px;left: 0%;text-align: center;     background-color: rgba(0,0,0,0.50);
		max-width: 100vw;}
	.carousel-caption p {font-size: 2vw; margin: 0; line-height: 1.1; color: #fff; text-shadow: 0 1px 1px rgba(#000, 0.4);  text-align: left; }
	.carousel-caption h1 { font-size: 7vw; margin: 0; line-height: 1.1; text-align: left; }

	}
	@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: $base-dark-color;}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open	.dropdown-menu>li>a:focus { color: $base-dark-color; background: $base-light;; }
	.dl-horizontal dd {margin-left:0px;}
	.btn-1 {visibility:hidden;}	
	
	 .carousel-caption { padding: 2px; bottom: 0px;left: 0%;text-align: center;     background-color: rgba(0,0,0,0.50);
		max-width: 100vw;}
	.carousel-caption p {font-size: 2vw; margin: 0; line-height: 1.1; color: #fff; text-shadow: 0 1px 1px rgba(#000, 0.4);  text-align: left; }
	.carousel-caption h1 { font-size: 7vw; margin: 0; line-height: 1.1; text-align: left; }

}
	
	@media (max-width: 620px) {
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: $base-dark-color;}
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open	.dropdown-menu>li>a:focus { color: $base-dark-color; background: $base-light;; }
		.dl-horizontal dd {margin-left:0px;}
		.carousel-caption-logo{background-color: rgba(255,255,255,0.0);max-width: 300px;padding-right: 2px;padding-left: 0px;}
		

		.hof-head {text-align:left; padding-left:10px; width: 100%; max-width: 100%;}
		.hof-content {width: 100%; min-width: 430px; }

		.btn-1 {visibility:hidden;}	
	 .carousel-caption { padding: 2px; bottom: 0px;left: 0%;text-align: center;     background-color: rgba(0,0,0,0.50);
		max-width: 100vw;}
	.carousel-caption p {font-size: 2vw; margin: 0; line-height: 1.1; color: #fff; text-shadow: 0 1px 1px rgba(#000, 0.4);  text-align: left; }
	.carousel-caption h1 { font-size: 7vw; margin: 0; line-height: 1.1; text-align: left; }

	}
	
	
	@media (max-width: 402px) {
		.carousel-caption p {font-size: 0vw; visibility:hidden;}
	}
	
	@media all and (max-width: 768px ){
	.navbar-wrapper { position: relative;top: 0px; }
	}
	  